footer
    .footer__wrapper
        a.footer__logo.logo
            img.logo-image
        ul.social-list
            li.social-list__item
                a(href="#")
            li.social-list__item
                a(href="#")
            li.social-list__item
                a(href="#")
        p.developed-by
            | разработано
            a(href="#").developed-by__logo
                img(src="", alt="academy-logo")
