footer.footer
    .footer__wrapper
        a.footer__logo.logo
            img.logo-image
        ul.fooetr__social-list
            li.fooetr__social-list-item
                a(href="#")
            li.fooetr__social-list-item
                a(href="#")
            li.fooetr__social-list-item
                a(href="#")
        p.footer__developed-by
            | разработано
            a(href="#").footer__developed-by-logo
                img(src="", alt="academy-logo")
