<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../css/style.css")
        block title
        title index
    body
        header.header
            .header__wrapper.container
                nav.main-nav
                    a.header__logo.logo
                        img.logo-image
                    ul.main-nav__list.site-list
                        +navList(navItems)
                .header__user-wrapper.user-block
                    form.user-block__search.search-form
                        input.search-form__input
                        button.search-form__btn.hidden-btn(type="sybmit")
                            | найти
                    a(href="#").user-block__basket-link
                        | Корзина: пока пуста