extends .././layouts/main-layout.pug
block content
    main.page-main
        section.represent
            h1.vis-hid
                | магазин вязаных товаров ручной работы
            .represent__wrapper.container
                b.represetnt__title
                    | Милые штуки ручной работы для дома
                ul.represent__list
                    li.represent__list-item
                        a(href="#").represent__list-link
                            | Предметы
                            br
                            | интерьера
                    li.represent__list-item
                        a(href="#").represent__list-link
                            | Детские
                            br
                            | игрушки
        section.week-product
            .week-product__wrapper.container
                .week-product__title-wrapper
                    h2.week-product__mini-title
                        | Товар недели
                    h3.week-product__title
                        | Вязаные корзинки  
                .week-product__dscr-wrapper
                    p.week-product__dscr
                            | Экологически чистая пряжа, ручная работа.
                            | Доступны в шести расцветках, и трех размерах.
                    table.week-prouct__data.data-table
                        tr.data-table__tr
                            td.data-table__td.data-table__title
                                | Цвет
                            td.data-table__td.data-table__value
                                | &laquo;тиффани&raquo;/серый
                        tr.data-table__tr
                            td.data-table__td.data-table__title
                                | Диаметр
                            td.data-table__td.data-table__value
                                | 25 см
                        tr.data-table__tr
                            td.data-table__td.data-table__title
                                | Высота
                            td.data-table__td.data-table__value
                                | 15 см
                    .week-product__img-wrapper
                        picture
                            source(media="(max-width:767px)", srcset="imgs/mobile/triple-set-mobile@1x.jpg, imgs/mobile/triple-set-mobile@2x.jpg")
                            source(media="(max-width:1150px)", srcset="imgs/tablet/triple-set-tablet@1x.jpg, imgs/tablet/triple-set-tablet@2x.jpg")
                            source(media="(min-width:1150px)", srcset="imgs/desktop/triple-set-desktop@1x.jpg, imgs/desktop/triple-set-desktop2x.jpg")
                            img(src="imgs/mobile/triple-set-mobile@2x.jpg").weekpr-oduct__img
                    .week-product__price-wrapper
                        p.week-product__price
                            | Цена: 990 р.
                        a.week-product__price-btn.btn
                            | Заказать
        section.about-us
            .about-us__wrapper.container
                h2.about-us__title
                    | Коротко о нас
                ul.about-us__list
                    li 
                        | Экологически
                        br
                        | чистые материалы
                    li.about-us__list-item
                        | Скандинавский стиль
                        br
                        | по российской цене
                    li.about-us__list-item
                        | Увеличивает лайки
                        br
                        |на фотографиях
                    li.about-us__list-item
                        | Связано вручную
                        br
                        | с любовью и умилением
                    li.about-us__list-item
                        | Поддержка отечественного
                        br
                        | производителя
                    li.about-us__list-item
                        | Поставляется в
                        br
                        | подарочной упаковке
        section.reviews
            .reviews__wrapper.container
                h2.reviews__title
                    | Отзывы
                p.reviews__txt
                    | Я молодая мама, но всё равно фотографии не
                    | набирали и близко такого количества лайков,
                    | как у популярных инстамамочек. В отчаянии,
                    | я накупила аксессуаров и игрушек в Мишке,
                    | и мои фотографии сразу стали более стильными,
                    | а также набирают больше лайков!
                p.reviews__author-wrapper
                    span.reviews__author-name
                        | Анастасия Красильникова
                    span.reviews__author-nick
                        | @misssssiskras
                .reviews__arrow-wrapper
                    button.review__arrow.review__arrow-left
                    button.review__arrow.review__arrow-right
                a(href="#").reviews__btn.btn
                    | Написать
        section.contacts
            .contacts__wrapper.container
                h2.contacts__title
                    | Контакты    
                table.contacts__data-table.data-table
                    tr.contacts__data-table-tr.data-table__tr
                        td(valign="top").contacts__data-table-td.data-table__td.data-table__title
                            | e-mail:
                        td(valign="top").contacts__data-table-td.data-table__td.data-table__value
                            | nfo@mimimishkashop.ru
                    tr.contacts__data-table-tr.data-table__tr
                        td(valign="top").contacts__data-table-td.data-table__td.data-table__title
                            | Адрес:
                        td(valign="top").contacts__data-table-td.data-table__td.data-table__value
                            | г. Санкт-Петербург,
                            br
                            | ул. Большая Конюшенная,
                            br
                            | д. 19/8, офис 101
                a(href="#").contacts__btn.btn
                    | Напишите нам
                .contacts__map
                    picture
                        source(media="(max-width:767px)", srcset="imgs/mobile/map-mobile@1x.jpg, imgs/mobile/map-mobile@2x.jpg")
                        source(media="(max-width:1150px)", srcset="imgs/tablet/map-tablet@1x.jpg, imgs/tablet/map-tablet@2x.jpg")
                        source(media="(min-width:1150px)", srcset="imgs/desktop/map-desktop@1x.jpg, imgs/desktop/map-desktop@2x.jpg")
                        img(src="imgs/tablet/map-tablet@2x.jpg").contacts__map-img
                    
