.form__fieldset-type,
.form__fieldset-color,
.form__fieldset-name,
.form__fieldset-tel,
.form__fieldset-email,
.form__fieldset-dop{
    border:none;
    padding: 0;
    margin:0;
}
.form__fieldset-type-wrapper,
.form__fieldset-color-wrapper,
.form__fieldset-name-wrapper,
.form__fieldset-tel-wrapper,
.form__fieldset-email-wrapper,
.form__fieldset-dop-wrapper{
    @media screen and  (min-width:$tablet){
        box-sizing: border-box;
        padding-left: 217px;
        position: relative;
    }
    @media screen and  (min-width:$desktop){
        padding-left: 175px
    }
}
.form__wrapper{
    @media screen and  (min-width:$tablet){
        padding-top: 68px;
    }
    @media screen and  (min-width:$desktop){
        padding-top: 115px;
    }
}
.form__slogan-wrapper{
    font-size: 13px;
    line-height: 24px;
    color: $text-color;
    margin-bottom: 26px;
    padding-top: 15px;
    @media screen and  (min-width:$tablet){
        padding-top: 0;
        font-size: 17px;
        line-height: 30px;
    }
    @media screen and  (min-width:$desktop){
        box-sizing: border-box;
        padding-left: 175px;
    }
}
.form__radio-wrapper{
    margin-bottom: 15px;
    box-sizing: border-box;
    position: relative;
    @media screen and  (min-width:$tablet){
        margin-bottom: 30px;
    }
}
.form__input-radio{
    display: none;
    &:checked ~ .form__label-type{
        &:after{
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-color: $blue;
            border-radius: 50%;
            position: absolute;
            top: 12px;
            left: 12px;
        }    
    }
}
.form__label-type{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    padding-left:62px;
    padding-top: 5px;
    height:46px;
    &:before{
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        border: 2px solid #444444;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media screen and  (min-width:$tablet){
        padding-left: 78px;
        padding-top: 12px;
        &:before{
            width: 48px;
            height: 48px;
            top: 0;
            left: 0;
        }
    }
}
.form__fieldset-type{
    margin-bottom: 10px;
    @media screen and  (min-width:$tablet){
        margin-bottom: 25px;
    }
}
.form__fieldset-type-wrapper{
    padding-top: 30px;
}
.form__type-legend{
    margin-bottom: 25px;
}
// checkbox style
.form__fieldset-color-wrapper{
    @media screen and  (min-width:$tablet){
        padding-top: 50px;
        padding-bottom: 30px;
    }
    @media screen and  (min-width:$desktop){
        padding-top: 50px;
        padding-bottom: 30px;
    }
}
.form__fieldset-color{
    @media screen and  (min-width:$tablet){
        background-color: #f1f1f1;
    }
}
.form__list-checkbox-wrapper{
    @media screen and  (min-width:$tablet){
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        height: auto;
    }
    @media screen and  (min-width:$desktop){

    }
}
.form__color-legend{
    @media screen and  (min-width:$tablet){
        top:65px;
    }
}
.form__checkbox-wrapper{
    margin-bottom: 22px;
    box-sizing: border-box;
    position: relative;
    height: 40px;
    @media screen and  (min-width:$tablet){
        width: 48%;
        max-width: 270px;
        height: 52px;
        margin-bottom: 23px;
        margin-left: 20px;
        &:nth-child(even){
            margin-right: auto;
        }
        &:nth-child(odd){
            margin-left: auto;
        }
    }
    @media screen and  (min-width:$desktop){
        width: 33.3%;
        max-width: 230px;
        &:nth-child(even){
            margin-left:0;
            margin-right: 32px;
        }
        &:nth-child(odd){
            margin-left: 0;
            margin-right: 32px;
        }
    }
}
.form__input-checkbox{
    display: none;
    &:checked ~ .form__label-color{
        &:after{
            content: "";
            display: block;
            width: 27px;
            height: 18px;
            position: absolute;
            top: 12px;
            left: 8px;
            background-image: url("../imgs/sprite.svg#icon-tick");
            background-size:cover;
            background-position: 50%;
            background-repeat: no-repeat;
            @media screen and  (min-width:$tablet){
                width: 36px;
                height: 27px;
                top: 13px;
                left:10px;
            }
        }    
    }
}
.form__label-color{
    display:inline-block;
    width:100%;
    box-sizing:border-box;
    padding-left:62px;
    height:40px;
    &:before{
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        border: 2px solid #444444;
        position: absolute;
        top: 0;
        left: 0;
        @media screen and  (min-width:$tablet){
            width: 50px;
            height: 48px;
        }
    }
    @media screen and  (min-width:$tablet){
        height: 52px;
        padding-left: 82px;
        padding-top: 15px;
    }
}
// name style
.form__fieldset-name{
    margin-bottom:10px;
    @media screen and  (min-width:$tablet){
        padding-top: 50px;
        padding-bottom: 24px;
    }
}
.form__legend-name{
    margin-bottom: 30px;
    @media screen and  (min-width:$tablet){
        top:15px;
    }
}
.form__text-name-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    @media screen and  (min-width:$tablet){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and  (min-width:$desktop){
        width: 700px;
    }
}
.form__label-name{
    @media screen and  (min-width:$tablet){
        margin-right: 30px;
    }
}
.form__input-name{
    font-size: 17px;
    line-height: 18px;
    padding-top: 14px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid #000;
    &:hover,
    &:active,
    &:focus{
        border-bottom:2px solid #62d1ba;
    }
    @media screen and  (min-width:$tablet){
        flex-grow: 1;
        padding-left: 20px;
        &::placeholder{
            font-size: 19px;
        }
    }
}
//tel style

.form__fieldset-tel{
    margin-bottom: 30px;
    @media screen and  (min-width:$tablet){
        padding-top: 50px;
        background-color: #f1f1f1;
        margin-bottom: 0px;
        padding-bottom: 20px;
    }
}
.form__input-tel-wrapper{
    position: relative;
    &:after{
        content: "";
        width: 26px;
        height: 24px;
        position: absolute;
        left: calc(100% - 40px);
        bottom:18px;
        background-image: url("../imgs/sprite.svg#icon-phone");
        background-position:  50%;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and  (min-width:$tablet){
            left: calc(100% - 50px);
        }
        @media screen and  (min-width:$desktop){
            left: calc(100% - 35px);
        }
    }
    &:hover,
    &:active,
    &:focus{
        &:after{
            background-image: url("../imgs/sprite.svg#icon-phone-hover");
        }
    }
    @media screen and  (min-width:$desktop){
        width: 700px;
    }
}
.form__legend-tel{
    margin-bottom: 12px;
    @media screen and  (min-width:$tablet){
        top:15px;
    }
}
.form__input-tel{
    font-size: 17px;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 40px;
    border: none;
    border-bottom: 2px solid #000;
    width: calc(100% - 40px);
    &:hover,
    &:active,
    &:focus{
        border-bottom:2px solid #62d1ba;
    }
    @media screen and  (min-width:$tablet){
        box-sizing: border-box;
        background-color: inherit;
        width: 100%;
        padding-left: 20px;
        &::placeholder{
            font-size: 19px;
        }
    }
}
//email style
.form__fieldset-email{
    margin-bottom: 30px;
    @media screen and  (min-width:$tablet){
        background-color: #f1f1f1;
        padding-bottom: 50px;
    }
}
.form__input-email-wrapper {
    position: relative;
    &:after{
        content: "";
        width: 42px;
        height: 31px;
        position: absolute;
        left: calc(100% - 40px);
        bottom:13px;
        background-image: url("../imgs/sprite.svg#icon-mail");
        background-position:  50%;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and  (min-width:$tablet){
            left: calc(100% - 60px);
        }
        @media screen and  (min-width:$desktop){
            left: calc(100% - 40px);
        }
    }
    &:hover,
    &:active,
    &:focus{
        &:after{
            background-image: url("../imgs/sprite.svg#icon-mail-hover");
        }
    }
    @media screen and  (min-width:$desktop){
        width: 700px;
    }
}
.form__input-email{
    font-size: 17px;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 40px;
    border: none;
    border-bottom: 2px solid #000;
    width: calc(100% - 40px);
    &:hover,
    &:active,
    &:focus{
        border-bottom:2px solid #62d1ba;
    }
    @media screen and  (min-width:$tablet){
        box-sizing: border-box;
        background-color: inherit;
        width: 100%;
        padding-left: 20px;
        &::placeholder{
            font-size: 19px;
        }
    }
}
.form__legend-email{
    margin-bottom: 12px;
    @media screen and  (min-width:$tablet){
        top:15px;
    }
}
//dop style
.form__fieldset-dop{
    @media screen and  (min-width:$tablet){
        position: relative;
        padding-top: 25px;
        margin-bottom: 45px;
    }
}
.form__legend-dop{
    @media screen and  (min-width:$tablet){
        top:15px;
    }
}
.form__textarea-dop{
    resize:none;
    width:100%;
    height:138px;
    border: 2px solid #000;
    box-sizing:border-box;
    padding:16px;
    padding-right:30px;
    &:hover,
    &:active,
    &:focus{
        border:2px solid #62d1ba;
    }
    @media screen and  (min-width:$tablet){
        &::placeholder{
            font-size: 19px;
        }
    }
    @media screen and  (min-width:$desktop){
        width: 700px;
    }
}
.form__btn-wrapper{
    @media screen and  (min-width:$tablet){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    @media screen and  (min-width:$desktop){
        width: 700px;
    }
}
.form__require-fields{
    font-size:14px;
    line-height:16px;
    margin-bottom:30px;
    @media screen and  (min-width:$tablet){
        font-size: 17px;
        line-height: 30px;
    }
}
.form__btn{
    width:100%;
    max-width:280px;
    background-color:transparent;
    margin-bottom:55px;
    @media screen and  (min-width:$tablet){
        max-width: 230px;
    }
}
  