.legend{
    font-size: 17px;
    line-height: 1;
    color:$blue;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 0px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
    position: relative;
    &:after{
        content: "";
        height: 1px;
        width: calc(100% - 62px);
        background-color: $blue;
        position: absolute;
        left: 62px;
        top: 7px;
    }
}